@import url("../icon/icons.css");
@font-face {
  font-family: "Lato";
  src: url("../icon/Lato.ttf");
}

@font-face {
  font-family: "Linotte";
  src: url("../icon/Linotte.otf");
}

@font-face {
  font-family: "Circe";
  src: url("../icon/circe.otf");
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-weight: 600;
  font-family: Lato;
  word-break: keep-all;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  --color1: #3c5063;
  --color2: #fa4a4d;
  --cor3: #ffc10e;
  --color4: #3db9ec;
  --color5: #388e3c;
  --color6: #222332;
  --color7: #1a1b1e;
  --atual: #388e3c;
}

::scrollbar {
  width: 0px !important;
}

*::scrollbar {
  width: 0px !important;
}

*::-webkit-scrollbar {
  width: 0px !important;
}

*::-moz-scrollbar {
  width: 0px !important;
}

*::-ms-scrollbar {
  width: 0px !important;
}

*::-moz-osx-scrollbar {
  width: 0px !important;
}

*::-o-scrollbar {
  width: 0px !important;
}

body {
  background: #fff;
  --back: #403936;
}

nav {
  width: 100%;
  padding: 2.3rem;
  display: flex;
  align-items: normal;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  justify-content: space-between;
}

nav ul li {
  margin: 0 1rem;
  display: inline-block;
}

nav ul li a {
  color: #403936;
}

nav ul li a i {
  font-size: 1.3rem;
}

nav img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  overflow: hidden;
  padding: _;
  object-fit: cover;
  border-radius: 50%;
}

section {
  width: 100%;
  padding: 2.3rem;
}

section hgroup {
  text-align: center;
  padding: 0 3rem 3rem;
}

section hgroup h1 {
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: 1.8px;
}

section hgroup h3 {
  font-size: 2rem;
  font-weight: 900;
  font-family: Circe;
}

section hgroup p {
  width: 580px;
  color: #999;
  margin: 0 auto;
  padding: .2rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

@media (max-width: 768px) {
  section hgroup p {
    width: unset;
  }
}

.cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
  gap: 1rem;
  position: relative;
}

@media (max-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}

.cards li {
  width: 320px;
  height: 220px;
  position: relative;
  border-radius: 5px;
  padding: 1.5rem 1rem;
  box-shadow: 0px 1px 3px 0px #999;
  border-top: 5px solid var(--data-color);
}

.cards li h3 {
  font-weight: 900;
  font-size: 1.5rem;
  font-family: Linotte;
}

.cards li p {
  color: #999;
  padding: .2rem 0;
  font-size: 1.0rem;
  line-height: 28px;
}

.cards li div {
  right: 10px;
  bottom: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid var(--data-color);
}

.cards li div i {
  color: var(--data-color);
}

@media (max-width: 768px) {
  .cards li {
    width: unset;
  }
}

.cards li.li {
  position: absolute;
  transform: rotate(0deg) translateX(21rem);
}

.cards li.li:last-child {
  grid-row: 1/ 1 span;
  transform: rotate(1440deg) translateX(-21rem);
}

@media (max-width: 768px) {
  .cards li.li {
    position: relative;
    transform: unset !important;
  }
}
