@import url("../icon/icons.css");
@font-face {
  font-family: "Lato";
  src: url("../icon/Lato.ttf");
}

@font-face {
  font-family: "Linotte";
  src: url("../icon/Linotte.otf");
}

@font-face {
  font-family: "Circe";
  src: url("../icon/circe.otf");
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-weight: 600;
  font-family: Lato;
  word-break: keep-all;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  --color1: #3c5063;
  --color2: #fa4a4d;
  --cor3: #ffc10e;
  --color4: #3db9ec;
  --color5: #388e3c;
  --color6: #222332;
  --color7: #1a1b1e;
  --atual: #388e3c;
}

::scrollbar {
  width: 0px !important;
}

*::scrollbar {
  width: 0px !important;
}

*::-webkit-scrollbar {
  width: 0px !important;
}

*::-moz-scrollbar {
  width: 0px !important;
}

*::-ms-scrollbar {
  width: 0px !important;
}

*::-moz-osx-scrollbar {
  width: 0px !important;
}

*::-o-scrollbar {
  width: 0px !important;
}

body {
  background: #fff;
  --back: #403936;
}

nav {
  width: 100%;
  padding: 2.3rem;
  display: flex;
  align-items: normal;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  justify-content: space-between;
}

nav ul li {
  margin: 0 1rem;
  display: inline-block;
}

nav ul li a {
  color: #403936;
}

nav ul li a i {
  font-size: 1.3rem;
}

nav img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  overflow: hidden;
  padding: _;
  object-fit: cover;
  border-radius: 50%;
}

section {
  width: 100%;
  padding: 2.3rem;
}

section hgroup {
  text-align: center;
}

section hgroup h1 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 2px;
}

section hgroup p {
  padding: .6rem;
}

.cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
  gap: 1rem;
  position: relative;
}

@media (max-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

.cards li {
  width: 320px;
  height: 280px;
  padding: 1rem;
  position: relative;
  border-radius: 10px;
  background: #ff043a;
  border-top: 3px solid #000;
}

.cards li h3 {
  font-size: 1rem;
  font-weight: 900;
}

.cards li p {
  padding: 1rem 0;
  font-size: .9rem;
  line-height: 28px;
}

.cards li img {
  width: 45px;
  height: 45px;
  overflow: hidden;
  padding: _;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

@media (max-width: 768px) {
  .cards li {
    width: unset;
  }
}

.cards li.li {
  position: absolute;
  background: orange;
  grid-row: 1/ 1 span;
  transform: rotate(0deg) translateX(20.9rem);
}

.cards li.li:last-child {
  grid-row: unset;
  transform: rotate(1440deg) translateX(-20.9rem);
}

@media (max-width: 768px) {
  .cards li.li {
    position: relative;
    transform: unset !important;
  }
}
